* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: "Poppins", sans-serif;
}

/* root colors */
:root {
  --main-color: #f44336;
}
/* header styles */
.header {
  min-height: 100vh;
  width: 100%;
  background-image: linear-gradient(rgba(4, 9, 30, 0.7), rgba(4, 9, 30, 0.7)),
    url(../images/banner.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}
nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1.5rem 2.5rem;
}

nav img {
  width: 150px;
}
.nav-links {
  flex: 1;
  text-align: right;
}
nav ul li {
  list-style: none;
  display: inline-block;
  padding: 8px 14px;
  position: relative;
}
nav ul li a {
  text-decoration: none;
  color: white;
  font-size: 13px;
}
/* so here i am adding a content after links and i just want to show then on hover on my link */
.nav-links ul li::after {
  content: "";
  width: 0%;
  display: block;
  margin: auto;
  height: 2px;
  background-color: var(--main-color);
  transition: 0.6s;
  /* transform: scale(0); */
  transform-origin: left;
}
.nav-links ul li:hover::after {
  /* transform: scale(1); */
  width: 100%;
}
.text-box {
  width: 100%;
  color: white;
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.text-box h1 {
  font-size: 4rem;
}
.text-box p {
  color: white;
  margin: 10px 0 40px;
  font-size: 0.9rem;
}
.hero-btn {
  text-decoration: none;
  color: white;
  display: inline-block;
  padding: 0.8rem 2rem;
  background-color: transparent;
  border: 1px solid #fff;
  position: relative;
  transition: 1s;
}
.hero-btn:hover {
  border: 1px solid var(--main-color);
  background-color: var(--main-color);
}
nav .fas {
  display: none;
}

/* -----course styles----- */
.course {
  width: 80%;
  margin: 0 auto;
  padding: 4rem 0;
  text-align: center;
}
h1 {
  font-size: 2.75rem;
  font-weight: 600;
}
p {
  font-size: 0.9rem;
  line-height: 20px;
  padding: 0.6rem;
  color: #777;
}
.row {
  margin: 3rem 0;
  display: flex;
  justify-content: space-between;
}
.course-col {
  flex-basis: 28%;
  background-color: #fff3f3;
  border-radius: 10px;
  padding: 20px 12px;
  transition: 0.5s ease;
  margin-bottom: 30px;
}
.course h3 {
  font-weight: 600;
  margin: 10px 0;
}
.course-col:hover {
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.2);
}
/* campus styles */
.campus {
  width: 90%;
  margin: 0 auto;
  text-align: center;
}
.campus-col {
  flex-basis: 30%;
  border-radius: 10px;
  margin-bottom: 30px;
  position: relative;
  overflow: hidden;
}
.campus-col img {
  width: 100%;
  display: block;
}
.layer {
  background-color: transparent;
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  transition: 0.5s;
}
.layer:hover {
  background-color: rgba(226, 0, 0, 0.7);
}
.layer h3 {
  width: 100%;
  font-weight: 300;
  position: absolute;
  bottom: 0;
  left: 50%;
  font-size: 1.6rem;
  opacity: 0;
  color: #fff;
  transform: translateX(-50%);
  transition: 0.5s ease-out;
}
.layer:hover h3 {
  bottom: 49%;
  opacity: 1;
}
/* facilities styles */
.facilities {
  width: 80%;
  margin: 0 auto;
  padding: 4.5rem 0;
  text-align: center;
}
.facilities-col {
  flex-basis: 27%;
  text-align: left;

}
.facilities-col p {
  padding-left: 0;
}
.facilities-col img {
  width: 100%;
  border-radius: 10px;
}
/* media queries for responsive */
@media only screen and (max-width: 768px) {
  body {
    width: 100%;
    overflow-x: hidden;
  }
  .text-box h1 {
    font-size: 20px;
  }
  .nav-links ul li {
    display: block;
  }
  .nav-links {
    background-color: var(--main-color);
    position: absolute;
    top: 0;
    right: -200px;
    width: 200px;
    height: 100vh;
    text-align: left;
    z-index: 2;
    transition: 1s;
  }
  .nav-links ul {
    padding: 1.9rem;
  }
  nav .fas {
    display: block;
    font-size: 1.4rem;
    color: white;
    margin: 0.8rem;
    cursor: pointer;
  }
  h1 {
    font-size: 1.8rem;
  }
  .row {
    flex-direction: column;
  }
}
